a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.text-app {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1B000;
    font-family: 'Courier New, Courier, monospace';
    font-size: 20px;
}

.navbar-bg {
    background-color: #fee7ea;
}

.byida {
    font-family: 'sans-serif';
    font-size: 15px;
    display: flex;
    color: #D1B000;
    justify-content: center;
    align-items: center
}
